---
import Layout from "../layouts/Layout.astro";

import  { getCollection } from "astro:content";

const recipes = await getCollection("recipes");

const categories = recipes.reduce((acc,recipe) => {
	recipe.data.categories.forEach(category => {
		if (!acc[category]) {
			acc[category] = { entries: [], count: 0 };
		}
		acc[category].entries.push({title:recipe.data.title, slug:recipe.data.slug});
		acc[category].count++;
	}); 
	return acc;
}, {});
---

<Layout>
	<menu class="w-full mx-2 mt-2 flex items-center justify-center border-t-2 border-b-2 
				bg-champagne md:text-2xl font-bold">
		<div>Categories</div>
	</menu>
	<h2 class="text-xl font-bold mt-2 text-center">{recipes.length} Total Recipes</h2>
	<div class="flex mt-2 flex-wrap justify-around">
	{
		Object.entries(categories)
			.sort(([a], [b]) => a.localeCompare(b))
			.map(([category, {entries,count}]) => (
			<div class="mx-1 mb-2 border p-1 bg-champagne rounded basis-full md:basis-1/4 flex-grow">
			<div class="border-3 p-1 rounded h-full">
				<h3 class="text-2xl ml-2 font-bold capitalize">{category} ({count})</h3>
				<ul class="ml-6 mt-2 list-disc list-outside">
					{entries
						.sort((a, b) => a.title.localeCompare(b.title))
						.map((entry) => <li><a class="underline" href={entry.slug}>{entry.title}</a></li>)}
				</ul>
				</div>
			</div>
		))
	}
	</div>
</Layout>
